<div class="question_content top_content">
  <div class="question_body">
    <div class="question_box">
      <span class="q">E</span>
      <span class="question_text"><%= event.text %></span>
      <%= link_to "キャンセル", participant_path(event), method: :delete %>
    </div>
  </div>
</div>